@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../fondo.jpg);
  background-size: cover;
  background-position-y: center;
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(66, 88, 233);
}
.container {
  font-family: 'Nunito', sans-serif;

  font-weight: bold;
  background-color: rgba(226, 213, 213, 0.5);
}
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin: 0;
}
.lista-citas .cita button {
  margin-top: 1rem !important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
  height: 200px !important;
}
#btn {
  background-color: rgb(66, 88, 233, 0.6);
}
#btn:hover {
  background-color: rgb(66, 88, 233, 0.7);
}
svg {
  width: 21px;
}
